
footer {
    /* background-color: #f2f2f2; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
    background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    color: #fff;
}
.footer div {
    color: #888;
    font-size: 14px;
    margin: 0;
}

.footer div a {
    font-size: 30px;
    line-height: 56px;
    height: 56px;
    width: 56px;
    display: inline-block;
    margin: 0 10px;
    color: #888;
    text-decoration: none;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.footer div a:hover {
    color: #000;
    text-decoration: underline;
}

.footer div a:visited {
    color: #888;
}

.footer div a:active {
    color: #888;
}

.footer div a:focus {
    color: #888;
}